{%  extends "base.html.twig" %}
{% block stylesheets %}
    <style type="text/css">
        input{
            margin: 2px;

        }
    </style>

{% endblock %}
{% block body %}
<div>
    <a href="{{ path('quotes', {})}}"><input type="button" value="Back"></a>

    <div >
        {{ quote.quote }}
        <i>{{ quote.meta }}</i>,
        <b>{{ quote.owner.username }}</b>
    </div>
</div>
{% endblock %}